DEBUG=True

SECRET_KEY=b0*fx!1x*ho+&!8qs4x(1g5ir^@dn8d5@ea615-jq5lmqi+#qj

ALLOWED_HOSTS=localhost,127.0.0.1,accounting-frontend

DB_NAME=accounting_db
DB_USER=root
DB_PASSWORD=root
DB_HOST=db
DB_PORT=3306

FRONTEND_PORT=8000
BACKEND_PORT=8001
VITE_API_BASE_URL=http://localhost:8001/api/

CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000


